@model MovigenCore.Models.Pedido

@{
    ViewData["Title"] = "Eliminar Pedido";
}
<br />
    <div class="container">
        <h3 class="text-danger">¿Desea eliminar el siguiente pedido?</h3>
        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RutCliente)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RutCliente)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Sucursal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Sucursal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CondicionPago)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CondicionPago)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ComentarioAdicional)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ComentarioAdicional)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Total)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Total)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Fecha)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TipoDocumento)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TipoDocumento)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Empresa)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Empresa.Direccion)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
                <a asp-action="Index" class="btn btn-outline-info">Volver a la lista de pedidos</a>
            </form>
        </div>
    </div>