@model IEnumerable<MovigenCore.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
}
<br />
<div class="container">
    <h3 class="text-info">Empresas Registradas</h3>

    <a asp-action="Create" class="btn btn-outline-info">Nueva Empresa</a>
    <hr />
    <div class="table-responsive">
        <table class="table table-borderless table-hover table-responsive-sm" id="tablaEmpresa">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Rut)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RazonSocial)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreFantasia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function () {
            $("#tablaEmpresa").DataTable({
                pageLength: 10,
                destroy: true,
                dom: 'Bfrtip',                
                buttons: [
                     'csv', 'excel', 'pdf'
                ],
                ajax: {
                    url: "/SuperAdmin/Empresas/LoadEmpresas",
                    type: "GET",
                    datatype: "json",

                },
                "columns": [
                    { "data": "rut" },
                    { "data": "razonSocial" },
                    { "data": "nombreFantasia" },
                    {"data": "direccion"},                   
                    {
                         "mRender": function (data, type, row) {
                         var linkEdit =  '@Html.ActionLink("Editar", "Edit", new { id = -1 }, new { @class = "btn btn-sm btn-outline-primary" })';
                            var linkDetails = '@Html.ActionLink("Detalles", "Details", new { id = -1 }, new { @class = "btn btn-sm btn-outline-secondary" })';
                            var linkBlock = '@Html.ActionLink("Eliminar", "Delete", new { id = -1 }, new { @class = "btn btn-sm btn-outline-danger" })';

                            linkEdit = linkEdit.replace("-1", row.id);
                            linkDetails = linkDetails.replace("-1", row.id);
                            linkBlock = linkBlock.replace("-1", row.id);

                            return linkDetails + ' '+ linkEdit + ' ' + linkBlock;
                         }
                    }

                ]
            });
        });
    </script>

}

